<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoftwareEngineering.Properties.Settings.VendorApplicationConnectionString"
            connectionString="Data Source=BOOK-5A3M5LR9FE\SQLEXPRESS;Initial Catalog=VendorApplication;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>